section.fifth_section {
    position: relative;
    height: 320px;
    margin-top: 40px;
    transform: translateY(-300px);
    transition: transform 1.1s ease;
    overflow-y: hidden;
    z-index: 333;
    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        width: 341px;
        margin: auto;
    }

    button {
        background: #872191;
        color: #fff;
        font-size: 16px;
        font-weight: 800;
        line-height: 28px;
        width: 224px;
        padding: 14px 0;
        border-radius: 15px;
        border: none;
        margin: 40px auto;
        position: absolute;
        // top: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button:hover {
        letter-spacing: 2px;
    }
}

section.fifth_section.show {
    transform: translateY(0);
}

@media (min-width: 675px) {
    section.fifth_section {
        height: 270px;
        margin-top: 40px;
        transform: translateY(-300px);
        transition: transform 1.1s ease;
        overflow-y: hidden;
        z-index: 333;

        h2 {
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            text-align: center;
            width: 1004px;
            margin: auto;
        }

       
    }
}