section.reason {
    padding:  15px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    .left_container {
        transform: translateX(-800px);
        transition: transform 0.6s ease;
        h2 {
            width: 340px;
            font-size: 32px;
            font-weight: 800;
            line-height: 38px;
            text-align: center;
            padding: 0px;
        }

       .wrapper {
            display: flex;
            flex-direction: column;
            .card {
                width: 290px;
                height: 157px;
                margin-bottom: 30px;
        
                img.icon {
                    // width: 50px;
                    // height: 50px;
                    margin: 0;
                }
        
                h3 {
                    font-size: 20px;
                    font-weight: 800;
                    line-height: 30px;
                }
        
                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    color: #979797;
                }
            }
       }
    }

    figure.right_container {
        padding: 0;
        margin: 0;
        transform: translateX(800px);
        transition: transform 0.9s ease;
        img {
            width: 340px;
            height: 407px;
            margin: 0;
        }
    }
}

section.reason.show {
    .left_container {
        transform: translateX(0);
    }

    figure.right_container {
        transform: translateX(0);
    }
}

@media (min-width: 675px) {
    section.reason {
        padding: 15px 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 160px;

        .left_container {
            width: 610px;
            h2 {
                width: 530px;
                font-size: 40px;
                line-height: 48px;
                text-align: left;
                padding: 0px;
            }

            .wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .card {
                    width: 290px;
                    height: 157px;
                    margin-bottom: 30px;

                    img.icon {
                        // width: 50px;
                        // height: 50px;
                        margin: 0;
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 800;
                        line-height: 30px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #979797;
                    }
                }
            }
        }

        figure.right_container {
            padding: 0;
            margin: 0;

            img {
                width: 482px;
                height: 578px;
                margin: 0;
            }
        }
    }
}