header {
    // background-image: linear-gradient(to right, rgb(51, 51, 51) 20%, rgb(154, 38, 171) 50%, rgb(108, 34, 222) 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    overflow-y: hidden;
    .logo_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        

        h1 {
            font-size: 11px;
            font-weight: 800;
            color: #FFFFFF;
            margin-left: 5px;
            line-height: 13px;
        }
    }

    .hamburger_icon {}

    .hamburger_icon.active {
        display: none;
    }

    .close_btn_icon {
        display: none;
    }

    .close_btn_icon.active {
        display: block;
        z-index: 999;
    }

    nav {
        // display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
        background: #FFFFFF;
        margin-left: -15px;
        z-index: 777;
        display: none;

        ul {
            list-style: none;
            width: 100%;
            padding: 0;
            padding-top: 52px;
            text-align: center;

            li {
                color: #1A1A1A;
                font-size: 20px;
                font-weight: 500;
                padding: 20px 0;
                border-bottom: 1px solid #D8D8D8;

                img {
                    margin-bottom: -7px;
                    margin-left: -3px;
                }
            }

            li:hover {
                letter-spacing: 0.8px;
            }

            li.top {
                border-top: 1px solid #D8D8D8;
            }
        }


        .btn_wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            padding-bottom: 80px;

            .signin_btn {
                color: rgb(154, 38, 171);
                background-color: #FFFFFF;
                border: 1px solid rgb(154, 38, 171);
                border-radius: 10px;
                font-size: 20px;
                font-weight: 900;
                padding: 15px 0;
                width: 320px;
            }

            .signin_btn:hover {
                border: 1px solid #FFFFFF;
                border-radius: 10px;
                letter-spacing: .5px;
            }

            .sign_up_btn {
                background-color: rgb(154, 38, 171);
                padding: 15px 0px;
                color: #FFFFFF;
                border-radius: 10px;
                border: none;
                font-size: 20px;
                font-weight: 900;
                margin-top: 20px;
                width: 320px;
            }

            .sign_up_btn:hover {
                letter-spacing: 0.5px;
            }
        }

    }

    nav.active {
        display: flex;
    }
}

@media (min-width: 675px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 45px;
        overflow-y: hidden;

        .logo_wrapper {
            transform: translateY(-200px);
            transition: transform 0.1s ease;
        
                h1 {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

        .hamburger_icon {
            display: none;
        }

        .hamburger_icon.active {
            display: none;
        }

        .close_btn_icon {
            display: none;
        }

        .close_btn_icon.active {
            display: none;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            flex-direction: row;
            top: 0px;
            width: 815px;
            background:transparent;
            margin-left: 0px;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                width: 456px;
                color: #FFFFFF;
                font-size: 16px;
                padding-top: 0;
                transform: translateY(-200px);
                transition: transform 0.3s ease;

                li {
                    border-bottom: none;
                    color: #FFFFFF;
                    padding: 0px 0;
                    font-size: 16px;
                }

                li.top {
                    border-top: none;
                }
            }


            .btn_wrapper {
                flex-direction: row;
                width: 210px;
                justify-content: space-between;
                align-items: center;
                margin-top: 0px;
                padding-bottom: 0px;
                transform: translateY(-200px);
                transition: transform 0.4s ease;


                .signin_btn {
                    background-color: transparent;
                    color: #FFFFFF;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 15px 20px;
                    width: auto;
                }

                .signin_btn:hover {
                    border: 1px solid #FFFFFF;
                    border-radius: 10px;
                    letter-spacing: .5px;

                }

                .sign_up_btn {
                    background-color: #FFFFFF;
                    padding: 15px 20px;
                    color: #1A1A1A;
                    border-radius: 10px;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    width: auto;
                    margin-top: 0;
                }

                .sign_up_btn:hover {
                    letter-spacing: 0.5px;
                }
            }

        }
    }

}